*{
  box-sizing: border-box;
}
/* universal selector closed */

/* .container-fluid-sm */
.container-fluid-sm{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/railway-station.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}
/* .container-fluid-sm closed */
/* #passenger */
#passenger{
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  padding: 10px;
}
/* #passenger closed */
/* .mt-5 */
.mt-5{
  background-image: linear-gradient(rgba(10, 17, 47, 0.9), rgba(6, 15, 62, 0.5));
  margin: auto;
  border-radius: 15px;
  border: 8px double #fff;
  box-shadow: 3px 3px 5px #000;
  height: 500px;
}
/* .mt-5 closed */
/* #count-el */
#count-el{
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
 
}
/* #count-el closed*/
/* button */
button{
  width: 200px;
  color: #fff;
  font-weight: 600;
  border: none;
}
button:hover{
  box-shadow: 2px 2px 5px #333;
}
/* button closed */
/* #save-el */
#save-el{
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  padding: 10px;
}
/* #savel-el closed */